.nav.navbar-nav li a {
	color: #fff !important;
	font-size: 15px !important;
}

.nav.navbar-nav li a:hover {
	color: lightgray !important;
	
}
.navbar-inverse .navbar-nav>li>a {
	color: #13405d;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #13405d;
	transform: translateY(-10px);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 30px 30px;
    opacity: 0.85;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
color:#13405d;	
}*/
.modal-body {
	height: 100% !important;
}